<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NeuronalNetwork.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="NeuronalNetwork.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <NeuronalNetwork.Properties.Settings>
            <setting name="InputNodes" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="HiddenNodes" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="OutputNodes" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="LearnRate" serializeAs="String">
                <value>0,1</value>
            </setting>
            <setting name="HiddenLayer" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ReadAsync" serializeAs="String">
                <value>False</value>
            </setting>
        </NeuronalNetwork.Properties.Settings>        
    </userSettings>
</configuration>